<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Login</title>
<!-- Font Icon -->
<link rel="stylesheet"
	th:href="@{fonts/material-icon/css/material-design-iconic-font.min.css}" />
<!-- Main css -->
<link rel="stylesheet" th:href="@{/css/style.css}" />
<!-- JS -->
<script src="" th:src="@{vendor/jquery/jquery.min.js}"></script>
<script src="" th:src="@{js/main.js}"></script>
</head>
<body>
	<div class="main">
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img src="images/signin-image.jpg" alt="sing up image" />
						</figure>
						<a href="" th:href="@{/register}" class="signup-image-link">Create an account</a>
					</div>
					<div class="signin-form">
					<div th:if="${param.error}">
							<div class="error-message">
							<p>Invalid username or password</p>
							</div>
						</div>
						<div th:if="${param.logout}">
							<div class="logout-message">
							<p>Log out Success!!</p>
							</div>
						</div>
						<h2 class="form-title">Log in</h2>
						<form method="post" role="form" th:action="@{/login}" th:object="${user}"> 
							<div class="form-group">
								<label for="username"> 
								<i class="zmdi zmdi-account material-icons-name"></i></label>
									<input th:field="*{username}" type="text" id="username" name="username" placeholder="Username" />
							</div>
							<div class="form-group">
								<label for="password"> 
								<i class="zmdi zmdi-account material-icons-name"></i></label>
									<input th:field="*{password}" type="text" id="password" name="password" placeholder="Password" />
							</div>
							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin"
									class="form-submit" value="Log in" />
							</div>
						</form>
						<div class="social-login">
							<span class="social-label">Or login with</span>
							<ul class="socials">
								<li><a href="#"><i
										class="display-flex-center zmdi zmdi-facebook"></i></a></li>
								<li><a href="#"><i
										class="display-flex-center zmdi zmdi-twitter"></i></a></li>
								<li><a href="#"><i
										class="display-flex-center zmdi zmdi-google"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>